<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
</head>
<body>
    <form action ="" method="get">
        <input type = "text" name ="q" value ="{{q}}">
        <input type ="submit">
    </form>
    <table class="table">
        <tbody>
    {% for post in post_list%}
    <tr>
        <td>
        {{post.message}}
        </td>
        <td>
        {% if post.photo %}
            <img src="{{post.photo.url}}"/>
        {% else %}
            No Photo
        {% endif %}
        </td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
</body>
</html>


